<!DOCTYPE html>
<html lang="en">
<head>
 {{>header}}
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>navbar}}

    <div class="container">
        <h1>This is an Registration Form</h1>
        <p>Click on Register to Register for a form.</p>
        <p>This is an simple representation of taking data from HTML,CSS,Js form and store the form data in <a href="https://en.wikipedia.org/wiki/MongoDB" target="#">Mongo DB</a>.</p>
        <img src="images/bg.png" alt="bg" style="height: 800px;width: 1200px;">
        
      </div>
</body>
</html>